@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, 
body,
#background { 
  width: 100vw;
  min-height: 100vh;
  transition: all 1s ease;
  background: url("https://raw.githubusercontent.com/bayareahomelander/Portfolio-Website/main/img/ios-14-stock.jpeg");
  background-attachment: fixed;
}

.navbar{
    position: fixed;
    z-index: 9999;
    background: #131a2d;
    padding: 30px 0;
    width: 100%;
    font-family: "Ubuntu", system-ui;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #131a2d;
}

.navbar .menu li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.5s ease;
}

.navbar .menu li a:hover{
    color: #a1997e;
}

.navbar .menu button{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 25px;
}

.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover{
    color: #a1997e;
    transition: 0.5s ease;
}

.navbar .logo a{
    color: #fff;;
    font-size: 35px;
    font-weight: 700;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

header nav div ul{
    display: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.home{
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", system-ui;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text1{
    font-size: 30px;
    transition: all 0.5s ease;
}

.home .home-content .text2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    transition: all 0.5s ease;
}

.home .home-content .text3{
    font-size: 30px;
    transition: all 0.5s ease;
}

.home .home-content .text4{
    font-size: 40px;
    margin: 5px 0;
    transition: all 0.5s ease;
}

.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
}

.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #131a2d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
    margin-bottom: -100px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.mail{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

.mail .mailText{
    visibility: hidden;
    width: 200px;
    background-color: #131a2d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
    margin-bottom: -100px;
}

.mail .show{
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.home .home-content .fa-github{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    transition: all 0.5s ease;
}

.home .home-content .fa-github:hover{
    transition: all 0.5s ease;
    color: #131a2d;
}

.home .home-content .fa-linkedin{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    transition: all 0.5s ease;
}

.home .home-content .fa-linkedin:hover{
    transition: all 0.5s ease;
    color: #131a2d;
}

.home .home-content .fa-phone:hover{
    color: #131a2d;
    transition: all 0.5s ease;
}

.home .home-content .fa-envelope:hover{
    color: #131a2d;
    transition: all 0.5s ease;
}

@media (max-width: 1178px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: '\f00d';
    }

    .navbar .menu{
        position: fixed;
        background: #131a2d;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }

    .navbar .menu.active{
        left: 0;
    }

    .home .home-content .text1{
        font-size: 20px;
    }

    .home .home-content .text2{
        font-size: 70px;
    }

    .home .home-content .text3{
        font-size: 20px;
    }
    
    .home .home-content .text4{
        font-size: 25px;
    }

    .home .home-content .typing{
        font-size: 25px;
    }
}

@media (max-width: 1215px){
    .max-width{
        padding: 0 50px;
    }

    .home .home-content .text1{
        font-size: 20px;
    }

    .home .home-content .text2{
        font-size: 60px;
    }

    .home .home-content .text3{
        font-size: 20px;
    }

    .home .home-content .text4{
        font-size: 25px;
    }

    .home .home-content .typing{
        font-size: 20px;
    }
}

section{
    padding: 100px 0;
}

.about, .projects{
    font-family: 'Ubuntu', system-ui;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .right{
    font-size: 20px;
    font-family: 'Ubuntu', system-ui;
    color: #fff;
    width: 55%;
}

.about .about-content .right p{
    text-align: justify;
    transition: all 0.5s ease;
}

.about .about-content .right a{
    display: inline-block;
    background: #131a2d;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #fff;
    background: #5879cc;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 5px -3px #000;
}

.typing{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

@media (max-width: 1140px){
    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left img{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        transition: all 0.5s ease;
    }

    .about .about-content .right p{
        flex: 100%;
        transition: all 0.5s ease;
    }
}

.projects .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.projects .carousel .card{
    color: #fff;
    background: #131a2d;
    border-radius: 10px;
    padding: 25px 35px;
    text-align: center;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover{
    background: #5879cc;
    box-shadow: 0 8px 5px #000;
    transition: all 0.3s ease;
}

.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.projects .carousel .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .card .box:hover{
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    color: #131a2d;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #fff !important;
    transition: all 0.5s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover{
    background: #131a2d !important;
    transition: all 0.5s ease;
}

.owl-carousel .owl-stage{
    height: 280px;
}

.scroll{
    position: fixed;
    background: #131a2d;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: #fff;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 40px;
    z-index: 9999;
    font-size: 20px;
    border-radius: 10px;
    pointer-events: auto;
    transition: all 0.5s ease;
    border: 2px solid #fff;
}

.scroll:hover{
    background: #5879cc;
    transition: color 0.5s ease;
}

.scroll .show{
    pointer-events: auto;
    bottom: 30px;
}

html{
    scroll-behavior: smooth;
}

.timeline .title{
    position: relative;
    top: -100px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.timeline{
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: #131a2d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #131a2d;
    border: 4px solid #fff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.right::after{
    left: -16px;
}

.content{
    font-size: 20px;
    color: #fff;
    font-family: "Ubuntu", system-ui;
    padding: 20px 30px;
    background: #131a2d;
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.content:hover{
    transform: scale(1.07);
    transition: all 0.3s ease;
    background: #5879cc;
    box-shadow: 8px 8px 5px -2px #000;
}

.timeline .content p{
    font-size: 17px;
    color: #fff;
    font-family: "Ubuntu", system-ui;
}

@media screen and (max-width: 600px){
    .timeline::after{
        left: 30px;
    }

    .container{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before{
        left: 60px;
        border: medium solid #131a2d;
        border-width: 10px 10px 10px 0;
        border-color: transparent #131a2d transparent transparent;
    }

    .left::after, .right::after{
        left: 15px;
    }

    .right{
        left: 0%;
    }
}

.sides .title{
    position: relative;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding-bottom: 60px;
}

@media (prefers-color-scheme: dark){
    body, html{
        background-color: #000;
        background: url("https://raw.githubusercontent.com/bayareahomelander/Portfolio-Website/main/img/download.jpeg");
        background-attachment: fixed;
    }

    .projects .carousel .card, .about .about-content .right a, .timeline .content{
        background: #1c1c1e;
    }
}