@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, 
body,
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #a1997e;
}

.navbar{
    position: fixed;
    background: #131a2d;
    padding: 30px 0;
    width: 100%;
    font-family: "Ubuntu", system-ui;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #131a2d;
}

.navbar .menu li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.5s ease;
}

.navbar .menu li a:hover{
    color: #a1997e;
}

.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover{
    color: #a1997e;
    transition: 0.5s ease;
}

.navbar .logo a{
    color: #fff;;
    font-size: 35px;
    font-weight: 700;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.home{
    display: flex;
    background: url("https://images.wallpapersden.com/image/download/computer-minimal-art_a2VsamiUmZqaraWkpJRnamtlrWZrZWU.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", system-ui;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text1{
    font-size: 30px;
    transition: all 0.5s ease;
}

.home .home-content .text2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    transition: all 0.5s ease;
}

.home .home-content .text3{
    font-size: 30px;
    transition: all 0.5s ease;
}

.home .home-content .text4{
    font-size: 40px;
    margin: 5px 0;
    transition: all 0.5s ease;
}

.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
}

.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #131a2d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
}

.popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #131a2d transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.mail{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

.mail .mailText{
    visibility: hidden;
    width: 200px;
    background-color: #131a2d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
}

.mail .mailText::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #131a2d transparent transparent transparent;
}

.mail .show{
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.home .home-content .fa-github{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    transition: all 0.5s ease;
}

.home .home-content .fa-github:hover{
    transition: all 0.5s ease;
    color: #131a2d;
}

.home .home-content .fa-linkedin{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    transition: all 0.5s ease;
}

.home .home-content .fa-linkedin:hover{
    transition: all 0.5s ease;
    color: #131a2d;
}

@media (max-width: 1178px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: '\f00d';
    }

    .navbar .menu{
        position: fixed;
        background: #131a2d;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }

    .navbar .menu.active{
        left: 0;
    }

    .home .home-content .text1{
        font-size: 20px;
    }

    .home .home-content .text2{
        font-size: 70px;
    }

    .home .home-content .text3{
        font-size: 20px;
    }
    
    .home .home-content .text4{
        font-size: 25px;
    }

    .home .home-content .typing{
        font-size: 25px;
    }
}

@media (max-width: 1215px){
    .max-width{
        padding: 0 50px;
    }

    .home .home-content .text1{
        font-size: 20px;
    }

    .home .home-content .text2{
        font-size: 60px;
    }

    .home .home-content .text3{
        font-size: 20px;
    }

    .home .home-content .text4{
        font-size: 25px;
    }

    .home .home-content .typing{
        font-size: 20px;
    }
}

section{
    padding: 100px 0;
}

.about, .projects{
    font-family: 'Ubuntu', system-ui;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', system-ui;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .right{
    font-size: 20px;
    font-family: 'Ubuntu', system-ui;
    color: #fff;
    width: 55%;
}

.about .about-content .right p{
    text-align: justify;
    transition: all 0.3s ease;
}

.about .about-content .right a{
    display: inline-block;
    background: #131a2d;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #fff;
    background: none;
}

.typing{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

@media (max-width: 1140px){
    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left img{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        transition: all 0.5s ease;
    }

    .about .about-content .right p{
        flex: 100%;
        transition: all 0.5s ease;
    }
}

.projects .project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.projects .project-content .card{
    color: #fff;
    width: calc(33% - 20px);
    background: #131a2d;
    text-align: center;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px solid #fff;
}

.projects .project-content .card .text{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: color 0.5s ease;
}

.projects .project-content .card:hover{
    background: none;
}

.projects .project-content .card i{
    transition: color 0.5s ease;
}

.projects .project-content .card:hover i{
    color: #131a2d;
}

.projects .project-content .card .box{
    transition: all 0.5s ease;
}

.projects .project-content .card:hover .box{
    transform: scale(1.1);
}

@media (max-width: 1020px){
    .projects .project-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px){
    .projects .project-content .card{
        width: 100%
    }
}

.scroll{
    position: fixed;
    background: #131a2d;
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #fff;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 50px;
    z-index: 9999;
    font-size: 30px;
    border-radius: 10px;
    pointer-events: auto;
    transition: all 0.5s ease;
    border: 2px solid #fff;
}

.scroll:hover{
    background: none;
    transition: color 0.5s ease;
    color: #131a2d;
}

.scroll .show{
    pointer-events: auto;
    bottom: 30px;
}

html{
    scroll-behavior: smooth;
}